<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Core.Web\packages.config" />
  <repository path="..\Cs.ContosoUniversity\packages.config" />
  <repository path="..\Cs.Spa\packages.config" />
  <repository path="..\Cs.Test\packages.config" />
  <repository path="..\Cs.WebApi\packages.config" />
</repositories>