@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_AlbumListTemplatePartial")

<section class="album-list">
    <h3>Featured Artist: <span data-bind="text: featuredArtistName" class="featureartist-text"></span></h3>
    <div data-role="listview" data-bind="source: featuredArtistAlbums" data-template="album-template"></div>
</section>

<section class="album-list">
    <h3>Top Selling Albums</h3>
    <div data-role="listview" data-bind="source: topSellingAlbums" data-template="album-template"></div>
</section>
